In [1]:
import pandas as pd
import numpy as np
dc_listings = pd.read_csv("dc_airbnb.csv")

In [3]:
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD

In [6]:
abs(3 - dc_listings["accommodates"][0])

1

## Organize dataset

**Calculate each value in dc_listing (accomodates) with the value 3.
Return new Series**

In [11]:
dc_listings["distance"] = abs(3 - dc_listings["accommodates"])
print(dc_listings["distance"].value_counts())

1     2294
2      503
0      461
3      279
5       73
4       35
7       22
6       17
9       12
13       8
8        7
12       6
11       4
10       2
Name: distance, dtype: int64

**Randomize the ordering of hte dataset and then sort the DF by distance column**

In [23]:
#Randomizing index
idx = np.random.permutation(len(dc_listings))
idx

array([2331, 2890, 1564, ..., 2682, 2465,  988])

In [27]:
#Assigning back to DB
dc_listings = dc_listings.loc[idx]
dc_listings.head()

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state,distance
2331,NaN,NaN,1,1,Private room,1.0,1.0,1.0,$70.00,NaN,NaN,1,1125,1,38.924016,-77.036690,Washington,20009,DC,2
2890,NaN,NaN,1,2,Private room,1.0,1.0,1.0,$53.00,NaN,NaN,1,1125,0,38.928784,-77.030198,Washington,20010,DC,1
1564,NaN,NaN,1,2,Private room,1.0,1.0,1.0,$75.00,NaN,$150.00,2,1125,41,38.936440,-77.028335,"Washington, D.C.",20010,DC,1
3611,98%,79%,8,4,Entire home/apt,0.0,1.0,2.0,$135.00,$95.00,$500.00,3,1125,0,38.889189,-77.001200,Washington,20002,DC,1
455,100%,100%,1,2,Private room,1.0,1.0,1.0,$85.00,NaN,NaN,2,7,102,38.913890,-77.019720,Washington,20001,DC,1

In [30]:
#Sort by distance
dc_listings.sort_values(by="distance", inplace=True)

In [31]:
print(dc_listings["price"].head(10))

2338    $168.00
1573    $100.00
1177    $200.00
3237     $70.00
3100     $95.00
125     $104.00
1091    $175.00
2528     $89.00
2741     $85.00
167     $569.00
Name: price, dtype: object

## Clean dataset

**Preprocess price column**

In [37]:
#Taking out commas
stripped_commas = dc_listings["price"].str.replace(',', '')
#Taking out Dollar signs
stripped_dollar = stripped_commas.str.replace('$', '')

**Convert to Float and assign back to price column**

In [45]:
#Float
stripped_dollar = stripped_dollar.astype('float')

In [48]:
#Assign back to price column
dc_listings["price"] = stripped_dollar

**Calculate mean of first 5 values**

In [51]:
mean_price = dc_listings["price"].head(5).mean()

126.6

## KNN mean 5 function

Predict_price function:
1. Find absolute value of each row values "accomodates" with a given value
2. Sort values by "distance" created
3. Find mean value of price of top 5 values

In [52]:
# Brought along the changes we made to the `dc_listings` Dataframe.
dc_listings = pd.read_csv('dc_airbnb.csv')
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')
dc_listings['price'] = stripped_dollars.astype('float')
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]

In [64]:
def predict_price(new_listing):
    temp_df = dc_listings.copy()
    ## Complete the function.
    temp_df["distance"] = abs(temp_df["accommodates"] - new_listing)
    temp_df.sort_values(by="distance", inplace=True)
    mean_top_5 = temp_df["price"].head(5).mean()
    return(mean_top_5)

acc_one = predict_price(1)
acc_two = predict_price(2)
acc_four = predict_price(4)